<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>LINKS</title>
  </head>
  <body>
    <div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column m-4">
    <h1 class="m-2">LINKS</h1>
    <a href="/add" >adicionar links</a>
    </div>
    <% for(let i = 0; i < links.length; i++){ %> 
      <div id="<%= links[i].id  %>" class="card p-3 mb-3">
        <form class="d-flex justify-content-between align-items-center" method="post" action="/<%= links[i].id  %>?_method=DELETE">
            <div class="d-flex flex-column"> 
            <h2><%= links[i].titulo  %> </h2>
            <div><%= links[i].descrição  %> </div>
            <div class="text-muted"><%= links[i].url  %> </div>
            <div class="text-info"><i class="material-icons">
              bar_chart</i>click:<%= links[i].click  %> </div>
            </div>
            <div class="d-flex flex-column">
            <a href="/edit/<%= links[i].id  %>" class="btn btn-info mb-1">edit</a>
            <button type="submit" class="btn btn-danger">delete</button>
           
            </div>
            </form>
        </div>
    <% } %> 
</div>
<%# 
    <script>
        function removeLink(id){
                fetch('/' + id , {method: 'DELETE'}).then(res=>{

                if(res.status == 200){
                 res.text().then(linkId=>{
                     console.log(linkId)
                      document.getElementById(linkId).remove()
                    })
                }else{
                    res.json().then(err=>{
                        console.log(err.message)
                        alert(err.message)
                    })
                }
                })
            
        }
    </script>
     %> 

  </body>
</html>